apiVersion: v1
kind: Service
metadata:
  name: {{ include "gitdash.fullname" . }}
  namespace: {{ include "gitdash.namespace" . }}
  labels:
    {{- include "gitdash.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  selector:
    {{- include "gitdash.selectorLabels" . | nindent 4 }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
